div#example-widget-container {
/*    color: white;
    background-color: green;
    border: 1px solid black;
    height: 200px;
    width: 500px;*/
}

.img-circle .slick {
	height: 100px;
	width: 100px;
}