@(title: String)

<html xmlns="http://www.w3.org/1999/xhtml" class="ui-mobile"><head><base href="https://www.moneysupermarket.com/mobile-car-insurance/details/index/14032711-0614-4000-0140-000049644407/532fd9c4-007f-0100-7bf9-2000003a6631?sort=AnnualPrice">
        <!--data-noinject-->
        
        <title>@title</title>
    <link rel="stylesheet" href="/mobile-car-insurance/css/mobileWeb.min.css?v=2-0-0-2880" media="screen">
        <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/jquery.validate.min.js"></script>
        <script type="text/javascript" src="/mobile-car-insurance/scripts/mobileCommon.min.js?v=2-0-0-2880"></script>
    <script type="text/javascript" src="/mobile-car-insurance/scripts/custom-jquery.mobile.min.js?v=2-0-0-2880"></script>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8"><meta name="viewport" content="initial-scale=1.0"><meta name="format-detection" content="telephone=no"><meta name="apple-mobile-web-app-capable" content="yes"><meta name="MSM.System" content="2"><meta name="MSM.SubType" content="MobileWeb"><meta name="MSM.SiteSegment" content="Insurance"><meta name="MSM.ProductCategory" content="car-insurance">
    <meta name="MSM.ContentType" content="Details Page"> 


    <script type="text/javascript" src="//www.moneysupermarket.com/_common/js/ui/ubt.min.js "></script>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/mobile-car-insurance/img/apple-touch-icon-144x144-precomposed.png">
    <!-- For iPhone with high-resolution Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/mobile-car-insurance/img/apple-touch-icon-114x114-precomposed.png">
    <!-- For first- and second-generation iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/mobile-car-insurance/img/apple-touch-icon-72x72-precomposed.png">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="/mobile-car-insurance/img/apple-touch-icon-precomposed.png">
        <body class="ui-mobile-viewport ui-overlay-c" style="position: relative; left: auto;">
      
        <!-- Webtrends Optimize -->    
        
        <!-- end --> 
        
    <div data-role="page" id="defaultPage" data-url="defaultPage" tabindex="0" class="ui-page ui-body-c ui-page-active" style="min-height: 776px;">
        <div class="msm-logo">&nbsp;</div>
      

    

    <div class="title-bar">&nbsp;</div>    
    <section class="details max-tablet-width ui-content" data-role="content" role="main">
        <header>
          <h1>
              <a href="http://drive.slickindustries.co.uk" class="ios-btn navigation tablet back results" data-role="none">
                  <i></i>
              </a>
                Policy Details
          </h1>
        </header>        
        
        <ul>
            <li>
                <div class="provider-logo"><img src="/mobile-car-insurance/img/logo/HastingsEssentials.jpg" alt="Hastings Essentials company logo"></div> 
                
                <b>Insured by</b>
                <span>Hastings Essentials</span>
            </li>
            

<li class="annual">
    <dl>
        <dt>Annual price <span>if single payment</span></dt>
        <dd>&pound;217.23</dd>
    </dl>
    <br class="clear">
</li>

<li class="monthly">
    
    <dl>
        <dt>Annual total <span>if paid monthly</span></dt>
        <dd>&pound;248.16</dd>
        
            <dt style="padding-top: 2px;">Deposit</dt>
            <dd>&pound;43.45</dd>
        
        <dt style="padding-top: 2px;">Monthly rate</dt>
        <dd>&pound;18.61 x 11</dd>
    </dl>
    <br class="clear">
    
</li>
        </ul>

         
<a href="http://www.hastingsdirect.com/" class="ios-btn go-to-site ui-link" data-conversion-type="Clickthrough" data-event-identifier="/Details/Apply/GoToSite" data-event-title="CI_1239" data-track-conversion="true" target="_blank">Purchase <span>with My Profile</span></a>

    <a href="http://www.hastingsdirect.com/" target="_blank" class="ios-btn secondary call-provider ui-link" data-conversion-type="Click" data-event-identifier="/Details/Apply/Phone" data-event-title="CI_1239" data-track-conversion="true">Call now</a>

        
        <h3>Contact insurer</h3>
        <ul class="contact">
            
              <li>Telephone no. <a href="http://www.hastingsdirect.com" target="_blank" data-conversion-type="Clickthrough" data-event-identifier="/Details/Apply/Phone" data-event-title="CI_1239" data-track-conversion="true" class="ui-link">0333 123 8139</a><b>calls to 03 numbers are included in your normal call plan.</b></li>
            
              <li>Office hours <b>8am till 9pm Monday to Friday, 9am till 5:30pm Saturday, 10am till 5pm Sunday</b></li>
            
            
            <li>Quote reference number: <b>To retrieve your quote, your reference is Moneysupermarket CB86-1G0-924. 
            
            
            </b></li>
            
        </ul>
        
        <h3>Includes</h3>
        <ul>
        
                <li>Protected No Claims <b class="tick"></b></li>               
        
                <li>Courtesy Car <b class="tick"></b></li>               
        
                <li>Fire/Theft Repair <b class="tick"></b></li>               
        
                <li>Accidental Damage <b class="tick"></b></li>               
        
        </ul>
        <h3>Excess</h3>
        <ul>
           <li>Total<b>&pound;195.00</b></li>
           <li>Compulsory<b>&pound;195.00</b></li>
           <li>Voluntary<b>&pound;0.00</b></li>
        </ul>
        
        <h3>Optional extras</h3>
        <ul>
            
                <li>Legal Cover <b>&pound;26.99</b></li>
            
                <li>Breakdown <b>from &pound;34.99</b></li>
            
                <li>Uninsured Loss Recovery <b>Check with insurer</b></li>
            
        </ul>
        
        <h3>Policy information</h3>
        <ul>
            <li>Policy insurer <b>Hastings Essentials</b></li>
            <li>Underwritten by <b>Advantage Ins</b></li>
        </ul>
         
<a href="/mobile-car-insurance/details/gotosite/14032711-0614-4000-0140-000049644407/532fd9c4-007f-0100-7bf9-2000003a6631" class="ios-btn go-to-site ui-link" data-conversion-type="Clickthrough" data-event-identifier="/Details/Apply/GoToSite" data-event-title="CI_1239" data-track-conversion="true" target="_blank">Complete <span>purchase via insurer's website</span></a>

    <a href="/mobile-car-insurance/details/callinsurer/14032711-0614-4000-0140-000049644407/532fd9c4-007f-0100-7bf9-2000003a6631" class="ios-btn secondary call-provider ui-link" data-conversion-type="Click" data-event-identifier="/Details/Apply/Phone" data-event-title="CI_1239" data-track-conversion="true">Call insurer now</a>

    </section>

        <footer>
          <p>© Moneysupermarket.com Ltd. 2014 <a data-role="none" id="log-out" href="/my-account/mobile/sign-out/?device=mobileweb&amp;returnChannel=mobile-car-insurance/">Logout</a>
          </p><p>Please read <a data-role="none" title="About our service" target="_blank" href="https://www.moneysupermarket.com/car-insurance/docs/our-service.pdf">about our service</a> and our <a data-role="none" target="_blank" href="http://www.moneysupermarket.com/legal/terms.asp">Terms &amp; Conditions</a> and print copies for your own records. You can rest assured that the information you supply is encrypted and cannot be read by anyone else. We are committed to protecting your privacy. Read our privacy policy and shop online with confidence. © Moneysupermarket.com Ltd 2014 is an appointed representative of Moneysupermarket.com Financial Group Limited ©, which is authorised and regulated by the Financial Conduct Authority (FCA FRN 303190). Moneysupermarket.com Financial Group Limited, registered in England No. 3157344. Registered Office: Moneysupermarket House, St. David's Park, Ewloe, CH5 3UZ. Telephone 01244 665700.</p>
        </footer>
        </div>

    
    
    
    <script type="text/javascript" src="/mobile-car-insurance/scripts/policyDetails.min.js?v=2-0-0-2880"></script>
 
    <script type="text/javascript" src="/mobile-car-insurance/scripts/progressiveEnhancement.min.js?v=2-0-0-2880"></script>
  
<iframe src="javascript:void(0)" id="__bkframe" name="__bkframe" height="0" width="0"></iframe></body></html>