@(title: String)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=1" />
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-3.0.3/css/bootstrap.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-3.0.3/css/bootstrap-theme.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/carousel.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    </head>
    <body>
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active" style="background-color: #562873">
          <div class="container">
            <div class="carousel-caption">
              <img class="img-rounded" src="@routes.Assets.at("images/msm-logo-secondary.png")" alt="MoneySuperMarket.com" style="width:30%;  min-width:200px; margin-right: -3%">
              <h1>MSM Ecosystem.</h1>
              <p>Using our services to create a richer experience on third party sites</p>
            </div>
          </div>
        </div>
        <div class="item" style="background-color: #562873">
          <div class="container">
            <div class="carousel-caption">
              <img src="@routes.Assets.at("images/team.JPG")" alt="Slick-Industries" style="width:40%;  min-width:200px;">
              <h1>Our Tribe!</h1>
              <p>Slick Drive Squad, Slick Move Squad, MSM Eco Squad </p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-sm-6" style="text-align:center">
          <img class="" src="@routes.Assets.at("images/slick-drive-pink-circle.png")" alt="Generic placeholder image">
          <h2>Looking for a car?</h2>
          <p>By partnering with a car trading website, MoneySuperMarket are able to power real time pricing for a range of products. These include car insurance, breakdown cover and gap insurance.</p>
          <p><a class="btn btn-default" target="_blank" href="http://drive.slickindustries.co.uk/" role="button">Go to site &raquo;</a></p>
        </div><!-- /.col-lg-6 -->
        <div class="col-sm-6" style="text-align:center">
          <img class="" src="@routes.Assets.at("images/slick-move-blue-circle.png")" alt="Generic placeholder image">
          <h2>Looking for a house?</h2>
          <p>The user experience of a property site was improved by displaying accurate costs of household bills, such as insurance, broadband and energy. This feature is again powered by MoneySuperMarket.</p>
          <p><a class="btn btn-default" target="_blank" href="http://move.slickindustries.co.uk/" role="button">Go to site &raquo;</a></p>
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">MSM sign-in. <span class="text-muted">Personalised content.</span></h2>
          <p class="lead">For existing MoneySuperMarket users, the sign-in feature can be used to improve the accuracy of pricing later in the journey. New users are prompted to visit our site and create an account.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="@routes.Assets.at("images/example-login-screen.png")" alt="sign-in">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="@routes.Assets.at("images/real-time-saves.png")" alt="savings">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Real-time savings. <span class="text-muted">The power of My Profile data.</span></h2>
          <p class="lead">When signed-in, we can use what we already know about you to provide accurate pricing on a range of products.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Complete your purchase. <span class="text-muted">Or come back later.</span></h2>
          <p class="lead">Clicking on your chosen product will pass you through MoneySuperMarket and onto the associated provider. If you're just researching, you can easily come back to your enquiry through My Profile.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="@routes.Assets.at("images/details.png")" alt="purchase">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="@routes.Assets.at("images/anydevice.JPG")" alt="purchase">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Any device, any time. <span class="text-muted">Responsive features.</span></h2>
          <p class="lead">The ecosystem's features are built to work across a range of devices, making it easy to save money wherever you are.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 MoneySuperMarket.com <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="@routes.Assets.at("javascripts/jquery-1.11.0.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/bootstrap.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/docs.min.js")" type="text/javascript"></script>
    </body>
</html>
